<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">

      <div [routerLink]="['/products', product.id]" class="lg:w-1/4 md:w-1/2 p-4 w-full" *ngFor="let product of productsData?.products">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" [src]="product.images[0]">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{ product.brand }}</h3>
          <h2 class="text-white title-font text-lg font-medium">{{ product.title }}</h2>
          <p class="mt-1">$ {{ product.price }}</p>
        </div>
      </div>

    </div>
  </div>
</section>
