<section *ngIf="cartData != null" class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">TOTAL</h2>
    <h4 class="text-gray-400 hover:text-white mb-4">${{ cartData.total }}</h4>
    <div class="flex flex-wrap -m-4">

      <div [routerLink]="['/products', product.id]" class="lg:w-1/4 md:w-1/2 p-4 w-full"
        *ngFor="let product of cartData.products">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" [src]="product.image">
        </a>
        <div class="flex justify-between w-full">
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{ product.brand }}</h3>
            <h2 class="text-white title-font text-lg font-medium">{{ product.title }}</h2>
            <p class="mt-1">$ {{ product.price }}</p>
          </div>
          <div class="mt-4">
            <button (click)="removeFromCart(product)" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Remove</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section *ngIf="cartData == null" class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3 text-center">CARRINHO VAZIO</h2>
  </div>
</section>
